[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"
ulid = "==1.1"
python-dotenv = "*"
cryptography = "*"
auth0-python = "*"
python-jose = "*"
gunicorn = "*"

[requires]
python_version = "3.12"